.page-container {
    width: 100vw;
    height: 100vh;
    background-color: #118ab2ff;
    color: #073b4cff;
    cursor: pointer;
}

.month {
    color: #ef476fff;
    font-weight: 1000;
}
.comenzar-container {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 50px; */
}