.about-page-container {
    min-height: 100vh;
    background-color: #ffd166ff;
    color: #073b4cff;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.about-content {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 91vh;
}
/* TODO: Hacer mediaquery para que cuando achicas el texto se haga más grande. */