.seedCard-container {
    background-color: #ffd166ff;
    width: 100%;
    margin: 10px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.delete-icon-container {
    width: 25px;
    background-color: rgb(252, 193, 57);
    border-radius: 50%;
}

.green {
    background-color: #06d6a0ff;
}