@import '../../assets/styles/mainStyles.scss';

.plant-detail {
    background-color: $rosa;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    min-width: 200px;
    max-width: 500px;
    width: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.plant-detail__img-container {
    height: 130px;
    width: 130px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 100%;
    background-color: $verde;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        height: 95px;
        width: 95px;
        overflow-y: visible;
    }
}


.plant-detail__info-block {
    margin: 10px
}

.sowing-info-block {
    padding-bottom: 5px;
}