.filters-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.filters-items {
    display: none;
}

.filter-title {
    justify-self: flex-end;
    text-align: left;
    margin: 5px;
    border: .5px solid black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    width: fit-content;
}

.visible-filters {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.tags-container {
    display: flex;
    margin: 5px;
}