.footer-container {
    background-color: #073b4cff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 0;
    letter-spacing: .05em;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}