@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import '../../assets/styles/mainStyles.scss';

.header {
    background-color: $verde;
    position: fixed;
    top: 0;
    cursor: pointer;
    width: 100%;
    height: 10vh;
}
.header__brand {
    font-family: 'Pacifico', cursive;
    color: $azul;
    text-decoration: none;
    font-size: 1.8em;
}

.header__navbar {
    display: flex;
    justify-content: space-center;
}

.header__collapse {
    background-color: #06d6a0ff;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

.header__menu {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}