.btn-sembrar {
    padding: 10px;
    height: 70px;
    margin-top: 10px;
    background-color: #ffd166ff;
    border: none;
    border-radius: 5px;
    width: 150px;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
    color: #073b4cff;
}

.modal-guardar {
    background-color: #ffd166ff;
}