.records-page-container {
    background-color: #ef476fff;
    color: #073b4cff;
    height: 100vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: space-around;
}

.records-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 91vh;
}