.page-container {
    width: 100vw;
    height: 100vh;
    background-color: #118ab2ff;
    color: #073b4cff;
    display: flex;
    flex-direction: column;
    align-items: space-between
}

.main {
    margin-top: 100px;
}
