.detail-page-container {
    width: 100vw;
    height: 100vh;
    background-color: #118ab2ff;
    color: #073b4cff;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.detail-content {
    /* min-height: 80.5vh; */
    /* margin-top: 70px; */
    margin-bottom: 30px;
    align-self: center;
    display: flex;
    flex-direction: column;
}
