ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    align-self: flex-end;
}

li {
    width: 150px;
    font-weight: 700;
}

li:hover {
    opacity: .7;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}